@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    margin-right: 10px;
    vertical-align: middle; /* Alinha os ícones com o texto */
}

body, html {
    background-color: rgb(208, 208, 208);
}

header {
    background-color: rgb(0, 96, 0);
}

header > h1 {
    padding: 20px 0px 20px 0px;
    text-align: center;
    color: white;
}

#burguer{
    background-color: rgb(0, 50, 4);
    display: block;
    width: 100%;
    color: white;
    text-align: center;
    padding: 9px;
}

#burguer:hover{
    background-color: rgb(245, 255, 246);
    color: black;
    cursor: pointer;
}

menu {
    display: block;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 13px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(0, 133, 0);
    color: white;
    border-top: 2px solid rgb(251, 216, 198);
    font-weight: bold;  
}

menu > ul > li > a:hover {
    background-color: rgb(29, 193, 0);
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 2em;
    margin-bottom: 15px;
}

article > h2 {
    margin: 1em;
    text-align: center;
}

article > p {
    text-align: justify;
    margin: 0em 1em 1em 1em;
    text-indent: 30px;
    line-height: 32px;
}
